.posts {
  margin-top: 25px;
  font-family: bold;
  font-family: "Roboto Mono", monospace;
}

.postsBlock {
  padding: 10px;
  font-family: "Roboto Mono", monospace;
}

.btnAdd {
  padding: 6px 15px;
  text-transform: uppercase;
  font-family: "Source Sans Pro", sans-serif;
}

.btnRemove {
  padding: 6px 15px;
  text-transform: uppercase;
  font-family: "Source Sans Pro", sans-serif;
}
