.header {
  grid-area: h;
  display: flex;
  padding: 50px;
  align-items: center;
  background-color: rgb(38, 63, 109);
}
    /* justify-content: space-around; */
    /* min-height: 8vh; */
    /* font-family: 'Poppins', sans-serif; */
.header img {
  width: 100px;
  /* width: 20px; */
}

.login_block {
  float: right;
}

.login_block a {
  color: white;
}
