.nav {
  grid-area: n;
  background-color: rgb(38, 63, 109);
  padding: 20px;
}

.item {
  list-style: none;
  height: 40px;
  text-align: center;
  margin: 50px;
}

.item a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  letter-spacing: 3px;
  font-family: bold;
  font-size: 14px;
}

.item a.active {
  color: green;
}

.round {
  
  width: 5em;
  height: 5em;
  border: 2px solid rgb(219, 207, 41);
  border-radius: 50%;
  line-height: 5em; /* подробнее про line-height */
  text-align: center; /* выравнять текст по середине по горизонтали */
  background: rgb(248, 192, 6);
}
