.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
  font-size: 20px;
  text-decoration: none;
  letter-spacing: 3px;
  margin: 50px;
  height: 40px;
  text-align: center;
}

.dialogsItems {
  letter-spacing: 5px;
}

.dialogsItems .active {
  color: rgb(255, 255, 255);
}

.dialog a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-family: bold;
}

.messagesItems {
  padding: 10px;
}

.textareaBlock {
  padding: 10px;
}

.btnMessage {
  padding: 6px 15px;
  text-transform: uppercase;
  font-family: "Source Sans Pro", sans-serif;
}

